<div class="jumbotron" style="position: relative;">
  <div class="text-center">
    <h1 class="display-4">Swadhin Roy</h1>
    <h3>Web Developer</h3>
  </div>

  <div style="position: absolute; bottom: 5px; right: 10px;">
    <a href="https://www.linkedin.com/in/swadhin-roy-7bb22316b/" class="" target="_blank">
      <img src="../../assets/linkedin.png" width="24" height="24" class="rounded-circle me-2">
    </a>
    <a href="https://wa.me/7687009170" class="" target="_blank">
      <img src="../../assets/wp.png" width="24" height="24" class="rounded-circle me-2">
    </a>
    <a href="https://github.com/roys89" class="" just target="_blank">
      <img src="../../assets/git.png" width="24" height="24" class="rounded-circle me-">
    </a>
  </div>
</div>
